version: '2'
services:
  PROJECT_NAME:
    container_name: PROJECT_NAME
    image: DOCKERHUB_COMPANY_NAME/PROJECT_NAME
    env_file:
      - .env

    ports:
      - '3000:3000'

  PROJECT_NAME-db:
    image: postgres
    container_name: PROJECT_NAME-db
    env_file:
      - .env

networks:
  default:
    external:
      name: DOCKERHUB_COMPANY_NAME
